<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Room Image</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- <body class="flex justify-center items-center min-h-screen bg-gray-100"> -->
<body class="bg-gray-1000">

<nav class="bg-slate-700">
        <h1 class=" text-slate-100 text-center font-extrabold text-4xl py-6 shadow-lg tracking-widest bg-gradient-to-r from-yellow-400 via-red-500 to-pink-500 bg-clip-text text-transparent">🏡 Virtual Home Designer</h1>
        
</nav>
        {% block content %}
        
        {% endblock %}

</body>
</html>